<footer>
  <span>&copy; Thales Group 2020</span>
  <span>
    <a href="https://www.thalesgroup.com/en/markets/digital-identity-and-security/banking-payment/digital-banking/idcloud">
      Gemalto Digital Banking IdCloud
    </a>
  </span>
  <span><a href="https://www.thalesgroup.com/en/dis-contact-us">Contact</a></span>
</footer>
