<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Demo of IdCloud FIDO authentication" />
<meta name="gatag" content="<%=ga_tag%>" />
<title>IdCloud FIDO demo</title>
<link id="favicon" rel="icon" href="/img/favicon.ico" type="image/x-icon" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/style.css" />
<script async src="https://www.googletagmanager.com/gtag/js?id=<%=ga_tag%>"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
