<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head'); %>
  </head>

  <body>

    <%- include('includes/header'); %>

    <div class="container">

      <%- include('includes/menu'); %>

      <div class="error"></div>

      <div class="title">
        Registered FIDO Authenticators
        <span>Help</span>
      </div>

      <ul class="responsive-table">
      </ul>

    </div>

    <%- include('includes/footer'); %>
  </body>
  <script src="/common.js"></script>
  <script src="/authentication.js"></script>

</html>

