<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head'); %>
  </head>

  <body>

    <%- include('includes/header'); %>

    <div class="container">

      <div class="title">
        Privacy policy
      </div>

      <p>
        This site is a demo of the Thales IdCloud FIDO authentication service.
        Collected data is only for the purpose of proper and optimized execution of this application.
      </p>

      <p>
        The email address you provide is used to give you the persitent ownership of the fido credentials we are generating within this demo.
        To avoid potential disclosure of this address, our demo web application stores it in digested form only.
        Your email is not shared with IdCloud services, instead you are assigned a random anonymous user id during sign up.
        If you do not want to share your real address, you are allowed to use any temporary or anonymous email providers,
        such as <a href="https://maildrop.cc">Maildrop</a> or <a href="https://www.guerrillamail.com/">Guerrilla Mail</a>.
      </p>

      <p>
        Cookies are used for session handling and usage statistics.
      </p>

      <p>
        Browser's local storage is used for debug & testing.
      </p>

    </div>
    <%- include('includes/footer'); %>

  </body>

</html>
