<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head'); %>
  </head>

  <body class="index">
    <div class="box-container">
      <div class="box">
        <%- include('includes/loginheader'); %>

        <div id="out"></div>
      </div>
    </div>

    <%- include('includes/footer'); %>

  </body>
  <script src="/common.js"></script>
  <script src="/signup.js"></script>
</html>

